/* Hide native browser spinners on number inputs */
input.no-spinners::-webkit-outer-spin-button,
input.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input.no-spinners {
    -moz-appearance: textfield;
}
